
    /**
     * Дополнение для одинаковости отображения
     *
     * @author Zmi
     */


    html
    {
        background-color: #FFFFFF;
    }

    body
    {
        background-color: #FFFFFF;
        color: #222;
        line-height: 150%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    ul
    {
        margin: 0 0 5px 0;
        padding: 0px;
        list-style-type: none;
        padding-left: 10px;
    }

    ul li
    {
        padding-left: 22px;
    }

    table td
    {
        text-align: left;
        line-height: 150%;
    }

    a img,
    a img:hover
    {
        border: none 0;
    }

    a, a:hover
    {
        cursor: pointer;
    }

    a, a:link
    {
        color: #0033CC;
        text-decoration: underline;
    }

    a:visited
    {
        color: #7b17af;
    }

    a:active
    {
        color: #000;
    }

    a:hover
    {
        color: #111;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6
    {
        background-color: transparent;
        color: #111;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 0;
        margin: 5px 0;
    }

    h2
    {
        font-size: 16px
    }

    h3
    {
        font-size: 14px;
    }

    h4, h5, h6
    {
        font-size: 14px;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }

    input, textarea, select
    {
        background: white;
        border: 1px solid #BBB;
        padding: 5px 7px;
        font-size: 14px;

        text-align: left;
        color: #222;

        .m-border-radius(5px);
        .m-inset-shadow(#CCC, 3px, 1px, 0);
    }

    input:focus,
    select:focus,
    textarea:focus
    {
        border-color: #569aff;
        background: #EFEFEF;
    }

    small
    {
        font-size: 11px;
        color: #999;
        line-height: 1.5;
    }